<footer id="footer">
  <div class="footer-left">
    <span>
    Copyright &copy; <%= new Date().getFullYear() %> <%= config.author || config.title %>
    </span>
  </div>
  <nav class="footer-right">
    <ul>
      <li><a href="/" class="fa fa-home fa-2x"></a></li>
      <li><a href="/" class="fa fa-weibo fa-2x"></a></li>
      <li><a href="/" class="fa fa-github fa-2x"></a></li>
      <li><a href="/" class="fa fa-user-circle fa-2x"></a></li>
    </ul>
  </nav>
</footer>


