#footer{
    display: flex;
    margin: 100px 332px 20px;  
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    transition: all .2s;
    a{
        text-decoration: none;
        color: #aaa;
    } 
    a:hover{
        color: #555;
        transform: scale(1.1);
    }
}
.footer-left{
    display: inline-block;
    font-size: 0.8em;
    span{
        color: #666;
    }
}
.footer-right{
    display: inline-block;
    ul{
        display: flex;
        li{
            margin-left: 30px;
            list-style: none; 
        }
    }
}

