body{
    border-top: 2px solid #383838;
    font-family: "Menlo", "Meslo LG", monospace;
    a{
        text-decoration: none;
    }
}
#data-wrapper{
    margin: 64px 332px 0;
    height: 100%;
}
#about{
    p{
        font-size: 14px;
        margin: 30px 0 60px 0;
    }
}
#writing{
    .h1{
        color: #ff4081;
        display: block;
        height: 30px;
        margin-bottom: 30px;
        font-size: 26px;
    }
    ul{
        list-style: none;
        padding: 0;        
    }
    .post-item{
        margin: 12px 0;
        .meta{
            display: inline-block;
            font-size: 14px;
            color: #666;
            min-width: 100px;
            margin-right: 16px;
        }
        span{
            position: relative;
            color: #000;
            line-height: 1;
            transition: 0.1s all linear;
            cursor: pointer;
            padding-bottom: 5px;
            a{
                text-decoration: none;
                color: #ff4081   
            }
        }
        span::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 100%;
            border-bottom: 2px solid #000;
            transition: 0.2s all linear;
            z-index: -1;
        }
        span:hover::before {
            width: 100%;
            top: 0;
            left: 0;
            transition-delay: 0.1s;
            border-bottom-color: #000;
        }
        span:hover ~ span::before {
            left: 0;
        }
        span:active {
            background: #000;
            color: #fff;
        }
    }
}