.right-post{
    position: fixed;
    top: 30px;
    right: 35px;
    color: #383838;
    transition: all .2s;
    .nav{
        display: none;
        position: absolute;
        list-style: none;
        right: -3px;
        top: 10px;
        .post-ul{
            list-style: none;
            margin-top: 20px;
            li{
                float: left;
                margin-top: 20px;
            }
        }
    }
    a{
        color: #383838;
        text-decoration: none;
    }
    a:hover{
        color: #00DFFC;
        transform: scale(1.1);
        cursor: pointer;
    }
} 
#top-icon{
    position: fixed;
    bottom: 300px;
    right: 200px;
}
.fa-chevron-up{
    visibility: hidden;
}
.visible{
    visibility: visible;
}